<% provide(:title, 'All Users') %>
<h1>ユーザー一覧</h1>

<%= form_with url: "#" do |f| %>
  <%= f.file_field :file %>
  <%= f.submit "CSVをインポート", class: "btn btn-primary" %>
<% end %>

<div class="col-md-10 col-md-offset-1">
  <table class="table table-condensed table-hover" id="table-users">
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.name %>
            <% if current_user.admin? && !current_user?(user) %>
              <%= link_to "削除", user, method: :delete,
                  data: { confirm: "削除してよろしいですか？" },
                  class: "btn btn-primary" %>
            <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>